@import "tailwindcss";

@font-face {
  font-family: 'PixelatedFont';
  src: url('../public/pixelated-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.pixelated-font {
  font-family: 'PixelatedFont', sans-serif;
}
